body{
    background-color: #f0f0f0;
    font-family: "Futura-pt","Avenir",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main{
    background-color: #fff;
    max-width: 75%;
    margin: auto;
    height: auto;
}


.navbar-nav{
    flex-direction: row;
    width: auto;
}

.navbar-brand{
    padding: 5px 10px;
}

.laranja{
    color: #ff764d;
}

.navbar-nav .nav-link{
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    margin-right: 1.5em;
    color: inherit;
}

#trial{
    color: #0000ff;
    font-size: 1rem;
}

#login{
    font-size: 1rem;
}

.nav_separator{
    width: 100%;
    border-top: 2px solid #eee;
}


#under-nav ul li a {
    margin-right: 1.5em;
    color: inherit;
    font-size: 15px;
}

/*
Principal
*/

.capa {
    padding: 0 3em;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Ajuste a altura conforme necessário */
}

.texto-centralizado{
    color: #e74e3e;
    position: absolute;
    font-size: 90px;
    font-weight: 700;
}

.apresentacao{
    width: 56%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 6em 0;
}

.apresentacao h4{
    line-height: 1.5;
    font-weight: 600;
    font-size: 25px;
    padding: 0 1em;    
}

.apresentacao p{
    padding-top: 1.5em;
}

.fotos-apresenta{
    padding: 5em;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fotos-apresenta img{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.background {
    background-color: #fbffa7; /* cor de fundo */
    position: absolute;
    top: 0;
    left: 50%; /* Começa na metade da largura */
    width: 50%; /* Ocupa a metade da largura */
    height: 100%; /* Ocupa toda a altura da div pai */
    z-index: 1; /* Fica atrás das imagens */
}

.video{
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.background-left{
    background-color: #b6ffc0; /* cor de fundo */
    position: absolute;
    top: 0;
    left: 0%; /* Começa na metade da largura */
    width: 60%; /* Ocupa a metade da largura */
    height: 100%; /* Ocupa toda a altura da div pai */
    z-index: 1; /* Fica atrás das imagens */
}

.photo6{
    margin: 0 4em;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.background-center{
    background-color: #d5b3ff; /* cor de fundo */
    position: absolute;
    top: 0;
    width: 60%; /* Ocupa a metade da largura */
    height: 100%; /* Ocupa toda a altura da div pai */
    z-index: 1; /* Fica atrás das imagens */
}

.latest-jobs{
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: #b1c5ff;
    margin: auto;
}

.latest-jobs h4{
    font-weight: bold;
}

.latest-jobs p{
    margin-top: 2em;
    font-size: 20px;
    font-weight: bold;
}

.latest-text {
    flex-direction: column;   /* Organiza o conteúdo do texto verticalmente */
    justify-content: center;  /* Centraliza o conteúdo verticalmente */
    height: 50%;             /* Ocupa toda a altura do contêiner pai */
    margin: 3em;
    padding: 4em;
}